@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PTSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Courier New';
  src: url('./fonts/cour.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles for wrapper */

.wrapper {
  max-width: 1001px;
  /* height: 100vh; */
  background-image: url(images/delo_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 50px 0;
  font-family: 'PT Sans', sans-serif;
}

/* styles for logo */

.logo {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  width: 77px;
  height: 77px;
  margin: 0 0 24px 117px;
}

/* media for logo */

@media (max-width: 992px) {
  .logo {
    margin-left: 50px;
  }
}

@media (max-width:450px) {
  .logo {
    margin-left: 20px;
  }
}

/* styles for title */

.title {
  background-image: url(images/delo.png);
  background-repeat: no-repeat;
  width: 212px;
  height: 79px;
  margin: 0 auto 60px;
}

/* styles for personal-data section */

.personal-data {
  margin: 0 111px 0 117px;
}

.data-box {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 15px;
  margin-bottom: 30px;
}

.data-item {
  color: #2f1b15;
  font-size: 1.375rem;
  font-weight: 700;
  align-self: end;
}

.data-item-text {
  border-bottom: #411d4a 2px solid;
  font-family: 'Courier New';
  color: #231f20;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 36px;
  padding: 0 0 5px 15px;
}

/* media for personal-data section */

@media (max-width: 992px) {
  .personal-data {
    margin: 0 50px;
  }
}

@media (max-width: 768px) {
  .data-box {
    grid-template-columns: 1fr;
  }

  .data-item-text {
    text-align: center;
    padding: 0 0 5px 0;
  }
}

@media (max-width:450px) {
  .personal-data {
    margin: 0 20px;
  }

  .data-item-text {
    letter-spacing: -3px;
  }
}

/* styles for about-yourself section */

.about-yourself {
  margin: 72px 112px 0 117px;
}

.section-title {
  color: #2f1b15;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-yourself-desc {
  text-align: justify;
  color: #3d3d3d;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.3px;
}

.skill {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
}

#checkbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 0;
  grid-row-gap: 10px;
}

/* customize checkbox */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 19px;
  background-color: transparent;
  outline: #351147 1px solid;
}

.checkbox-container:hover input~.checkmark {
  background-color: transparent;
}

.checkbox-container input:checked~.checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #351147;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* media for section about-yourself */
@media (max-width: 992px) {
  .about-yourself {
    margin: 72px 50px 30px;
  }
}

@media (max-width: 768px) {
  #checkbox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  #checkbox {
    grid-template-columns: 1fr;
  }
}

@media (max-width:450px) {
  .about-yourself {
    margin: 72px 20px;
  }
}

/* styles for section skill-js */
.skill-js {
  margin: 0 114px 0 117px;
}

.slider-box {
  width: 100%;
  display: grid;
  grid-template-rows: 34px 26px auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  border-bottom: #4c204e 2px solid;
  background: transparent;
  outline: none;
  padding-bottom: 5px;
  margin-top: 15px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 18px solid #4c204e;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 18px solid #4c204e;
  background-color: transparent;
}

.slider-scale {
  border-left: 2px solid #4c204e;
  border-right: 2px solid #4c204e;
}

.slider-scale-perc {
  border-left: 2px solid #4c204e;
  border-right: 2px solid #4c204e;
  height: 10px;
  margin-left: calc(20% - 0.188rem);
  margin-right: calc(50% + 0.188rem)
}

.slider-desc {
  color: #2f1b15;
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 19px;
  display: grid;
  grid-template-columns: 20% 30% 25% 25%;
}

.slider-desc__right {
  justify-self: right;
}

.slider-desc-mobile {
  border-bottom: 2px solid #4c204e;
  width: 100%;
  justify-self: center;
  margin: 15px 0 30px 0;
  padding-bottom: 5px;
  text-align: center;
  visibility: hidden;
}

#slider-skill-level {
  color: #231f20;
  font-family: "Courier New PSMT";
  font-size: 1.25rem;
  font-weight: 400;


}

/* media for section skill-js */

@media (max-width: 992px) {
  .skill-js {
    margin: 0 50px;
  }
}

@media (max-width: 768px) {
  .slider-desc {
    font-size: 0.688rem;
  }
}

@media (max-width: 576px) {
  .slider-desc {
    display: none;
  }

  .slider-desc-mobile {
    visibility: visible;
  }

  .slider-scale-perc {
    margin-left: 20%;
    margin-right: 50%;
  }
}

@media (max-width:450px) {
  .skill-js {
    margin: 0 20px;
  }

}

/* style for section data */

.date {
  margin: 0 0 100px 117px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.date-name {
  color: #2f1b15;
  font-size: 1.375rem;
  font-weight: 700;
  margin-right: 15px;
}

.date-text {
  width: 206px;
}

/* media for section data */

@media (max-width: 992px) {
  .date {
    margin: 0 0 100px 50px;
  }
}

@media (max-width:450px) {
  .date {
    margin: 0 20px;
  }

}